In [27]:
import pandas as pd 

data = {
  'open': [42, 43, 42, 44, 45],
  'close': [43, 44, 43, 45, 43]
}

df = pd.DataFrame(data)
df

   open  close
0    42     43
1    43     44
2    42     43
3    44     45
4    45     43

In [28]:
data = pd.date_range('2022/11/01', periods=5)
data

DatetimeIndex(['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04',
               '2022-11-05'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.set_index(data, inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-11-01 to 2022-11-05
Freq: D
Data columns (total 2 columns):
open     5 non-null int64
close    5 non-null int64
dtypes: int64(2)
memory usage: 120.0 bytes

In [31]:
df.loc['20221102']

open     43
close    44
Name: 2022-11-02 00:00:00, dtype: int64

In [32]:
df.iloc[0]

open     42
close    43
Name: 2022-11-01 00:00:00, dtype: int64

In [33]:
df.loc['20221102':'20221104']

            open  close
2022-11-02    43     44
2022-11-03    42     43
2022-11-04    44     45

In [34]:
df.iloc[1:4]

            open  close
2022-11-02    43     44
2022-11-03    42     43
2022-11-04    44     45

In [35]:
df['open'].iloc[0:3]

2022-11-01    42
2022-11-02    43
2022-11-03    42
Freq: D, Name: open, dtype: int64

In [37]:
df[df['open'] > df['close']]

            open  close
2022-11-05    45     43

In [42]:
df.sort_values('close', ascending=False, inplace=True)
df

            open  close
2022-11-04    44     45
2022-11-02    43     44
2022-11-01    42     43
2022-11-03    42     43
2022-11-05    45     43

In [43]:
df.max()

open     45
close    45
dtype: int64