In [26]:
import requests as req
import pandas as pd

url = 'http://www.taiwanrate.com'
headers = {
  'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.5249.119 Safari/537.36'
}

res = req.get(url, headers=headers)

In [27]:
res.encoding = 'utf-8'

In [28]:
df = pd.read_html(res.text)[5]

In [29]:
df.columns = df.iloc[0]
df = df.drop(0)

In [ ]:
df = df.set_index('銀行')

In [32]:
df = df.drop('中華開發工業銀行')

In [34]:
df = df.apply(pd.to_numeric, errors='coerce')

In [ ]:
df.style.highlight_max()

In [42]:
df.idxmax()

0
活期利率           安泰銀行
活期儲蓄利率       台灣中小企銀
1月(%)          大眾銀行
2月(%)          大眾銀行
3月(%)        斐商標準銀行
4月(%)        斐商標準銀行
5月(%)        斐商標準銀行
6月(%)        斐商標準銀行
7月(%)        斐商標準銀行
8月(%)        斐商標準銀行
9月(%)        台中商業銀行
10月(%)       台中商業銀行
11月(%)       台中商業銀行
1年(%)        板信商業銀行
2年(%)          聯邦銀行
3年(%)        京城商業銀行
定期儲蓄1年(%)    板信商業銀行
定期儲蓄2年(%)    板信商業銀行
定期儲蓄3年(%)    板信商業銀行
dtype: object

In [43]:
high_rate = pd.DataFrame({
  'bank': df.idxmax(),
  'rate': df.max()
})
high_rate

             bank  rate
0
活期利率         安泰銀行  0.10
活期儲蓄利率     台灣中小企銀  0.23
1月(%)        大眾銀行  0.60
2月(%)        大眾銀行  0.72
3月(%)      斐商標準銀行  0.80
4月(%)      斐商標準銀行  0.80
5月(%)      斐商標準銀行  0.80
6月(%)      斐商標準銀行  0.80
7月(%)      斐商標準銀行  0.80
8月(%)      斐商標準銀行  0.80
9月(%)      台中商業銀行  0.91
10月(%)     台中商業銀行  0.91
11月(%)     台中商業銀行  0.91
1年(%)      板信商業銀行  1.05
2年(%)        聯邦銀行  1.08
3年(%)      京城商業銀行  1.12
定期儲蓄1年(%)  板信商業銀行  1.10
定期儲蓄2年(%)  板信商業銀行  1.11
定期儲蓄3年(%)  板信商業銀行  1.12